<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="order.css">
    <link rel="icon" href="../assets/icon/Order.ico" >
    <title>Order</title>
    
</head>
<body >
  
    <div class="text-white" id="root" >
        <nav class="navbar  navbar-dark position-absolute" >
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" style="color: white; background-color: rgb(10, 10, 10); font-size: larger;" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About Us</a>
                    </li>
                    
                </ul>
                
            </div>
        </nav>
        <header class="container py-5">
            <div class="text-center " style="font-size: 5rem; font-weight: 100;">
               Maaemo Giftcard
            </div>
           
           </header>
           
<section class="container">
    <div class="row">
        <div class="col-10 col-md-5 offset-1  ">
<p class="">
    If you would like to give someone of the gift of experiencing Maaemo then you can order gift cards from us. You can select from the options below or choose your amount by adding quantity of 500 kr.
</p>
<p>
    Gift cards can either be sent by post or electronically to your email (please allow 5-7 days for paper gift cards to arrive, and 24-48 hours for electronic gift cards). Please select the delivery method you require when ordering. It's also possible to add a comment or greeting to be printed on the gift card in the next window.
</p>
<p>
    Please note that it may be hard to get a table on your desired date, and even with a gift card you still have to make your reservation through our online booking process.
</p>
<!-- Order placement -->
<div id="quantity">
    <div class="container ">
        <form  class="my-5" action="payment.html">
            <div class="form-group row ">
               <div class="p-0 col-8">
                Seasonal menu, kr 3500
               </div>
               <div class="col-2 p-1 text-right">
                Qty
               </div>
                <div class="col-1 p-0 ">
                    <input type="text" class="form-control  pr-1" name="inputName" id="inputName" placeholder="" value="0">
                </div>
            </div>

            <div class="form-group row ">
                <div class="p-0 col-8">
                    Wine selections, kr 1900
                </div>
                <div class="col-2 p-1 text-right">
                 Qty
                </div>
                 <div class="col-1 p-0 ">
                     <input type="text" class="form-control  pr-1" name="inputName" id="inputName" placeholder="" value="0">
                 </div>
             </div>

             <div class="form-group row ">
                <div class="p-0 col-8">
                    Premium wine selections, kr 5000
                </div>
                <div class="col-2 p-1 text-right">
                 Qty
                </div>
                 <div class="col-1 p-0 ">
                     <input type="text" class="form-control  pr-1" name="inputName" id="inputName" placeholder="" value="0">
                 </div>
             </div>

             <div class="form-group row ">
                <div class="p-0 col-8">
                    Wine selections incl. aperitif, sparkling or still water, coffee or tea, kr 2380
                </div>
                <div class="col-2 p-1 text-right">
                 Qty
                </div>
                 <div class="col-1 p-0 ">
                     <input type="text" class="form-control  pr-1" name="inputName" id="inputName" placeholder="" value="0">
                 </div>
             </div>

             <div class="form-group row ">
                <div class="p-0 col-8">
                    Seasonal juice selections, kr 950
                </div>
                <div class="col-2 p-1 text-right">
                 Qty
                </div>
                 <div class="col-1 p-0 ">
                     <input type="text" class="form-control  pr-1" name="inputName" id="inputName" placeholder="" value="0">
                 </div>
             </div>

             <div class="form-group row ">
                <div class="p-0 col-8">
                    Seasonal juice selections incl. aperitif, sparkling or still water, coffee or tea, kr 1420
                </div>
                <div class="col-2 p-1 text-right">
                 Qty
                </div>
                 <div class="col-1 p-0 ">
                     <input type="text" class="form-control  pr-1" name="inputName" id="inputName" placeholder="" value="0">
                 </div>
             </div>
             <div class="form-group row ">
                <div class="p-0 col-8">
                    Choose amount, kr 500
                </div>
                <div class="col-2 p-1 text-right">
                 Qty
                </div>
                 <div class="col-1 p-0 ">
                     <input type="text" class="form-control pr-auto" name="inputName" id="inputName" placeholder="" value="0">
                 </div>
             </div>
             <button type="submit" class="btn text-white border px-4 py-2" style="background-color:#000000;">Order</button>
            
        </form>
    </div>


</div>
        </div>
   
    </div>
   </section>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="order.js">
    </script>
</body>
</html>